<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>форма</title> 
</head> 
<body> 

<form action="">
    <p><b>Как вас зовут?</b> <input type="text" name="username" value="дефолтное значение"></p>
    <p><b>Как вы это называете?</b></p>
	<img src="\static\2.jpg" />
    <input type="radio" name="answer" value="kotik">Котик<Br>
    <input type="radio" name="answer" value="koshechka">Кошечка<Br>
    <input type="radio" name="answer" value="kisa">Киса<Br>
    <input type="radio" name="answer" value="kosharik">Кошарик<Br>
    <p><input type="submit"></p>
</form>
</body> 
</html>